.forgot-password-link {
    display: block;
    margin-top: 10px;
    color: #007bff; /* Link color */
    text-decoration: underline;
  }
  
  .forgot-password-container {
    margin-top: 20px;
  }
  
  .success-message {
    color: green;
  }
  
  .error-message {
    color: red;
  }
  