.logout-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .logout-button {
    background-color: #643f21;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #967357;
  }
  
  .logout-button span {
    margin-left: 8px;
  }
  